doctype
html(itemscope,itemtype="http://schema.org/Article",ng-app="markup" debug="false")
    //page default Information
    block pageInfo
        - var pageTitle = "首頁"
        - var pageDesc = "敘述"
    //html head
    include _head.jade
    //html body
    body(class="l-index")
        block page_main
    script(src="../js/page.js")
  
