nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.l-container
        div.nav-bd
            h1.nav-logo
                a(href="index.html" alt="LOGO" title="LOGO") LOGO
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item.nav-item--iscurrent
                        a(href="index.html" alt="項目" itemprop="url" title="項目"): span 項目
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 項目