//page laytout name
extends _layout.jade

//page html
block page_main
    section.index
        p(style="padding:100px;")
            a#button.btn.btn-primary.btn-large.btn-block(href="#") 切換擴充功能的頁面按鈕
