//page laytout name
extends _layout.jade

//page html
block page_main
    section.index
        div.index__hd
        div.index__bd
            div.index__content
                div.l-container
                    div.l-vm
                        div.l-vm__content
                            p 灰色區塊內垂直置中
                            div.sprite__demo
        div.index__ft

