//page laytout name
extends _layout.jade
//page customized Information
block pageInfo
    - var pageTitle = "pageTitle"
    - var pageDesc = "pageDesc"
//page html
block page_main
    section.rule
        div.l-container
