$grid-width:  8.33333333%;
@function grid-width($n) {
     @return $n * $grid-width;
}


//@include grid(1.5) 允許小數點
@mixin grid($n){
    display: block;
    float: left;        
    width:grid-width($n); 
    box-sizing:border-box;
    padding:0 10px;
}


$i: 12;
@while $i > 0 {
    .l-grid#{$i} {
        display: block;
        float: left;        
        width:grid-width($i); 
        box-sizing:border-box;
        padding:0 10px;
    }
    $i: $i - 1;
}


.l-row:after {
  clear: both;
  content: '';
  display: table;
}

